extends ..\..\layout\_layout

block vars
  - var htmlroot = "../../"

block prepend meta

block title
  title= "イラスト　交流"

block append breadcrumb
  li: a(href ="#{htmlroot}illust.html") イラスト
  li.active 交流

block sidenav_contents
  +submenuitem([
              "捧げもの",
              "いただき物"])

block maincontents
  h3 イラスト
    small  交流

  h4 捧げもの
  mixin illust_galleries(illust_comunicationfrom_file,"from", "communication/")

  h4 いただき物
  mixin illust_galleries(illust_comunicationfor_file,"for", "communication/")