<a href="http://ckworks.jp/comicdash/profile/azureberry" target="_blank"><img src="http://ckworks.jp/usr/azureberry/comicdash/owncomic_mini.gif" width="120" height="60" border="0" alt="コミックダッシュ！ azureberry の所有コミック" title="コミックダッシュ！ azureberry の所有コミック" /></a>
<br>コミック感想をブログに載せてます。　→
a(href="http://sorajumjun.blog.shinobi.jp/Entry/97/") 目次
|/
a(href="http://sorajumjun.blog.shinobi.jp/Category/13/") カテゴリー