extends layout\_layout

block prepend meta

block title
  title= "About　自己紹介"

block maincontents
  h2 Abount
    small  自己紹介


  h3 名前
  p 颯来(そら)<br>漢字難しいので呼ぶ時は「そら」で大丈夫です＾＾<br>ちなみに１つめ漢字は「さっそう（颯爽）」の初めです

  h3 性質
  p テンションと更新頻度に波がある。<br>人と違う時期にブームの頂点が来る時があるマイペースさん。<br>趣味は広く浅く？<br><br>猫など、もふもふ好き<br>月など、神秘的なモノ好き。<br>透明でキラキラしたモノ好き。<br>人外キャラ・ミニキャラ好き。

  h3 好きな漫画・小説
  .lineuplayout もやしもん /鋼の錬金術師 /ハンター×ハンター /聖☆おにいさん /キノの旅 /×××HOLiC /School Rumble /破天荒遊戯 /こどものおもちゃ /君と僕。 /蟲師 /LIAR GAME /


  h4 その他所有コミック一覧
  .lineuplayout
    include fragment\_about_comics
    <br>コミック感想をブログに載せてます<br>

    a(href="http://sorajumjun.blog.shinobi.jp/Entry/97/") 目次

    a(href="http://sorajumjun.blog.shinobi.jp/Category/13/") カテゴリー

  h3 好きなゲーム
  .lineuplayout 零～紅い蝶～ /LocoRoco2 /聖剣伝説 レジェンド オブ マナ /塊魂 /がんばれゴエモン ネオ桃山幕府のおどり /ぷよぷよ /ICO /FF9 /


  h4 その他所有ゲーム一覧
  .lineuplayout
    include fragment\_about_games


  h3 好きな音楽
  p 天野月子 / 小松未歩 / Ｓｏｕｎｄ　Ｈｏｒｉｚｏｎ<br>ゲーム音楽（ゴエモン・聖剣伝説LOMなど） / アニメサントラ


