extends layout\_layout

block prepend meta

block title
  title= "更新履歴"

block append breadcrumb
  li.active 更新履歴

block sidenav_contents
  -var year_title_list=[]
  - for (var x = history_end; x >=history_start; x--)
      - year_title_list.push(x+"年");
  +submenuitem(year_title_list)

block maincontents
  h2 更新履歴

  div
    - var i = 0;
    - for (var x = history_end; x >=history_start; x--)
      +history_list(x+"年", history[x], i++)
