extends layout/_layout_index

block prepend meta
  include fragment/_meta_google-site-verification

block title
  title= "Jumble Junk"

block carousel_indicators
  +top_carousel_indicators(top_carousel_items_url.length)

block carousel_items
  +top_carousel_items(top_carousel_items_url)


block maincontents1
  //- h2 Jumble Junk
  div.panel.panel-default
    div.panel-body
      include fragment/_fc2_counter
      p
        include contents/_top_comment

      include contents/_history_mini

block maincontents2
  div.panel.panel-default
    div.panel-heading サイトマップ
    div.panel-body
      include contents/_sitemap

block maincontents3
  div.panel.panel-default
    div.panel-heading SNS
    div.panel-body
      p
        include ./contents/_sns

  div.panel.panel-default
    div.panel-heading 登録検索・ランキングサイト
    div.panel-body
      p
        include fragment/_ranking

