extends layout\_layout

block prepend meta
  include fragment\_meta_google-site-verification

block title
  title= "Jumble Junk"

block breadcrumb


block sidenav_contents
  +submenuitem([
              "最近の更新",
              "サイトマップ",
              "登録検索・ランキングサイト"])

block maincontents
  h2 Jumble Junk

  include fragment\_fc2_counter

  p
    |｢jumble junk｣に来てくださってありがとうございます。ここは管理人・颯来(そら)の創作物(主にイラスト・小説など)を置いているサイトです。
    br
    |版権物については各企業、作者様とは何も関係ありません。
    br
    |このサイト内のものは、無断転載・二次配布禁止です。
    br
    |このサイトへのリンクはフリーです。詳しいことやバナーなどは<a href="link.html">こちら(リンク)</a>にあります。
    br
    |では、ごゆっくり。みなさんが楽しんでもらえると嬉しいです。
    br
    |(since 2006/04/11)

  include contents\_history_mini

  h3#submenu1 サイトマップ
  include contents\_sitemap


  h3#submenu2 登録検索・ランキングサイト
  p
    include fragment\_ranking
