dl
	dt
		a(href="about.html") about
	dd 自己紹介。参加同盟一覧も。
	dt
		a(href="history.html") 更新履歴
	dd 今までの更新があります。
	dt
		a(href="illust/illust.html") イラスト
	dd オリジナル中心イラスト置き場。CG講座もあります。
	dt
		a(href="http://sorajumjun.blog.shinobi.jp/") ブログ
	dd ラクガキ・近況・オススメ紹介感想など。サイトについてや更新の補足・予定なども書きます。
	dt
		a(href="link.html") リンク
	dd 素敵サイト様へのリンクです。このサイトへのリンクについてやバナーも置いています。
