img(src="img/japanese_03.gif", width="102", height="8", alt="sorry,japanese only")
img(src="img/css_01.gif", width="41", height="8", alt="use css")
img(src="img/frame_01.gif", width="52", height="8", alt="use frame")
<br>
img(src="img/font_01.gif", width="62", height="8", alt="font size 中")
img(src="img/color_04.gif", width="53", height="8", alt="true color")
img(src="img/win_02.gif", width="46", height="8", alt="windows")