.main-row {
  padding: 70px 0 0 0;
}

@media(max-width:$screen-md-min){
  .affix {
    position: static;
    top: 0;
    width: auto;
  }
}

@media(max-width:$screen-xs-min){
  .container {
    margin-bottom: 100px;
  }
}
