.main-row {
  padding: 70px 0 0 0;
}

@media(max-width:$screen-md-min){
  .affix {
    position: static;
    top: 0;
    width: auto;
  }
}

@media(max-device-width:$screen-md-min){
  .container {
    margin-bottom: $ads-bottom;
  }
}

#myCarousel {
    margin-bottom: 20px;
}

.mycarousel_item {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
}