.main-row {
  padding: 70px 0 0 0;
}

@media(max-width:$screen-md-min){
  .affix {
    position: static;
    top: 0;
    width: auto;
  }
}

@media(max-device-width:$screen-md-min){
  .container {
    margin-bottom: $ads-bottom;
  }
}

.top-caroucelbox {
  margin-bottom: 20px;
}

.mycarousel-item {
  background-position: center center;
  background-repeat: no-repeat;
  height: 300px;
}
