.gallery li {
  display: inline;
}

.gototop {
  bottom: 20px;
  position: fixed;
  right: 20px;
}

.gototop-bg-btn {
  color: #e1e8ed;
}

.gototop-text {
  color: #55acee;
}

.text-twitter {
  color: #55acee;
}

.bg-btn-social {
  color: #e1e8ed;
}
