.gallery li {
  display: inline;
}

.gototop {
  bottom: 20px;
  position: fixed;
  right: 20px;

  @media(max-width:$screen-xs-min){
    bottom: 120px;
  }
}

$twitter-color : #55acee;
$paint-btn-color : #000;
$gototop-btn-color : #55acee;
$sns-btn-color : #e1e8ed;

.gototop-bg-btn {
  color: $gototop-btn-color;
}

.gototop-text {
  color: $gototop-btn-color;
}

.bg-btn-social {
  color: $sns-btn-color;
}

.text-twitter {
  color: $twitter-color;
}

.text-paint {
  color: $paint-btn-color;
}
