doctype html
html
  head
    meta(charset='UTF-8')

    block vars
      - var htmlroot = './'

    block title

    block meta
      include ../common/_head_meta
    block style
      include ../common/_head_style


  body(data-spy="scroll", data-target=".submenulist", data-offset="85")
    include ../mixins/_all_mixin

    div.container

      //Header Nav
      div.row
        nav.navbar.navbar-default.navbar-fixed-top
          div.navbar-header
            button.navbar-toggle(data-toggle="collapse" data-target="#collapse-target")
                      span.sr-only Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar

            a.navbar-brand
              include ../common/_header_title

          div.collapse.navbar-collapse#collapse-target
            ul.nav.navbar-nav
              include ../common/_header_nav

      div.row.main-row
        //Nav Sidebar
        div.col-md-3
          div.side-nav(data-spy="affix",data-offset-top="0", data-offset-bottom="50")
            div.panel.panel-default.text-center
              include ../contents/_sns

            block sidenav
              div.panel.panel-default
                div.panel-heading submenu
                div.submenulist
                  ul.nav.nav-pills.nav-stacked
                    block sidenav_contents


        //Main Content Section
        div.col-md-9
          ul.breadcrumb
            block breadcrumb
                li: a(href ="#{htmlroot}index.html") Home

          block maincontents

      //Footer
      footer.row
        div
          hr
          include ../common/_footer_copy

      include ../common/_goto_top


    block bottom_scripts
      include ../common/_bottom_scripts
